doctype 5
html
  head
    title Test LBS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Test LBS
      #content
        block content
      #footer
